*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#banner{
    width: 100%;
    height: 100vh;
    background-image: url("./photographer.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.banner-content{
    border: 1px solid #fff;
    width: 30%;
    padding: 5% 1%;
    position: absolute;
    top: 35%;
    left: 35%;   
    text-align: center;
    color: #fff;
    font-size: 25px; 
}
nav{
    border-bottom: 1px solid #cfcfcf;
    text-align: center;
    margin-top: -2%;
    z-index: 100;
}
nav ul{
    list-style: none;
    display: inline-block;
    margin: 0 auto;
    background-color: #cfcfcf;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0% 4%;
}
nav ul li{
    display: inline-block;
    padding: 15px;
}
nav ul li:hover
{
    background-color:rgb(150, 149, 149);
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
#e{margin-left: 260px ; margin-bottom: 10px;}
.x{margin-left: 260px;margin-bottom: 10px;}
.z{margin-left: 260px;margin-bottom: 10px;}
.w{margin-left: 260px;margin-bottom: 10px;}
.q{margin-left: 260px;margin-bottom: 10px;}
h4{text-align: center; font-weight: bold; font-size: 25px;}
#p
{
    background-color: rgb(240, 239, 239);
    width: 1000px;
    margin-left: 260px;
    padding: 10px;
    height: 550px;
}
p
{
    margin-left: 25px;
    font-size: 20px;
    line-height: 25px;
}
.n{margin-left: 25px;font-size: 25px;}
.i1{width: 920px;height: 35px;margin-left: 25px; margin-bottom: 10px;}
.r{margin-left: 25px;font-size: 25px;}
.i2{width: 920px;height: 35px;margin-left: 25px; margin-bottom: 10px;}
.m{margin-left: 25px;font-size: 25px;}
.i3{width: 920px;height: 35px;margin-left: 25px; margin-bottom: 10px;}
.s{width: 925px;height: 40px;margin-left: 25px;background-color: rgb(94, 94, 94);margin-top: 10px;font-size: 15px;color: white;}